body {
  font-family: "Segoe UI", sans-serif;
  background: #c0d4ca52;
  text-align: center;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}
a {
    color: hsl(155, 65%, 30%);
}
header {
  margin-bottom: 30px;
}
h1 {
  font-family: Cochin, Georgia, serif;
  font-size: 36ps;
  line-height: 1.5;
  color: #252525;
}

form {
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  margin-bottom: 30px;
}
.text-type {
  padding: 10px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 5px;
  line-height: 20px;
}
.submit-type {
  margin-left: 10px;
  background: #008f53;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 14px 24px;
}
.poem {
  font-size: 16px; 
  background-color: #fff;
  padding: 30px;
  text-align: left;
  line-height: 1.8;
  border-left: 3px solid #008f53;
  box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03);
}
.poem strong {
  color:#008f53;
}
footer {
  margin-top: 40px;
  font-size: 14px;
  color: #424242;
}
